<!-- title="{{ 'APP.NAME' | translate }}"
  subtitle="{{ 'APP.CLAIM' | translate }}" -->

<si-landing-page
  title="{{ 'Operaciones de Field Service' }}"
  subtitle="{{ 'Gestion las actividades de trabajo de campo desde aca' }}"
  [links]="[
    {title: 'Corporate information', href: 'http://www.siemens.com/corp/en/index/corporate_info.htm'},
    {title: 'Privacy policy', href: 'http://www.siemens.com/corp/en/index/privacy.htm'},
    {title: 'Terms of use', href: 'http://www.siemens.com/corp/en/index/terms_of_use.htm'}
  ]"
  
>
  <button type="submit" class="btn btn-primary" style="width: 100%;"
    routerLink="/main/field-service/">
    Entrar
  </button>
</si-landing-page>

