#animacion {
    animation-name: deslizar;
    animation-duration: 0.4s;
}

.allForm{
    padding-left: 5%;
    width: 40%;
    padding-top: 1%;
}

.titulo{
    padding-left: 10%;
}

.imgLogo{
    width: 60%;
    height: 40%;
    padding-left: 5%;
}

.btn-primary{
    width: 100%;
}

body{
    background-color: white;
}
