<div id="animacion">
    <div id="titulo">
        <h1>REGISTRO DE NUEVOS USUARIOS DESKTOP</h1>
        <hr>
      </div>
  <div class="logo">
    <img class="imgLogo" [src]="LOGO" alt="industry customer service"/>
  </div>
  <form class="allForm">
      
      <div class="form-group">
          <label>Nombre</label>
          <input type="text" class="form-control" id="name">
      </div>
    <div class="form-group">
      <label for="username">Correo (sin @siemens.com)</label>
      <input type="email" class="form-control" id="user">
    </div>
    <div class="form-group">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn-primary"  (click)="crearUsuario()">
      Crear Usuario
    </button>
    
  </form>
</div>

