<!-- <div id="titulo">Codigo de Colores</div>
<hr>
<hr>
<a href="/home/cronograma#popup1"><input type="button" id="volver" value="Volver Al Cronograma"/></a> -->





<div id="popup1" class="overlay">
  <div class="popup">
    <h1 id="titulo">Cronograma Asignaciones</h1>
    <div id="fechaEleccion">Seleccionar Mes <input type="month" id="fecha"></div>
    <div id="tablas">
      <table class="tablaEspecialistas" id="tablaEspecialistas1">
        <tr id="tituloTablaE">
          <th>Especialista</th>
        </tr>
        <tr *ngFor="let especialista of resultados" id={{especialista.IdEspecialista}}>
          <td style="border-top: 1px ridge lightgray; text-align: right; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 15px; white-space:nowrap; text-overflow: ellipsis">{{especialista.NombreE}}</td>
        </tr>
      </table>
      <table class="tablaAsignaciones" id="tablaAsignacionesID">
      </table>
    </div>
    <a class="close" href="/home"><i class="fas fa-times"></i>
    <span class="tooltiptext">Salir</span></a>
    <!-- <a class="info" href="/home/cronograma"><i class="fas fa-info"></i>
    <span class="tooltiptext">Código de Colores</span></a> -->
    <a class="estadisticas" routerLink="/home/estadisticas"><i class="fas fa-chart-line"></i>
    <span class="tooltiptext">Estadísticas</span></a>
    <a class="eliminadas" routerLink="/home/asignacionesEliminadas"><i class="fas fa-calendar-times"></i>
    <span class="tooltiptext">Asignaciones Eliminadas</span></a>

    <hr>
    <div class="linea">
    <div class="estado" style="border-color: #FF7115">
      <div class="servicio"> En Servicio
        <div class="polig" style="background-color: #FF7115">
    
        </div>
      </div>
    </div>
        <div class="estado" style="border-color: #008DFF">
      <div class="servicio"> Compensatorio
        <div class="polig" style="background-color: #008DFF">
    
        </div>
      </div>
    </div>
    <div class="estado" style="border-color: #FFE300">
      <div class="servicio"> Vacaciones
        <div class="polig" style="background-color: #FFE300">
    
        </div>
      </div>
    </div>
    <div class="estado" style="border-color: #06AA00">
      <div class="servicio"> Disponible
        <div class="polig" style="background-color: #06AA00">
    
        </div>
      </div>
    </div>
  </div>
  <div class="linea">
    <div class="estado" style="border-color: #BB0000">
      <div class="servicio"> Incapacidad
        <div class="polig" style="background-color: #BB0000">
    
        </div>
      </div>
    </div>
    <div class="estado" style="border-color: #5B00BB">
      <div class="servicio"> Permiso
        <div class="polig" style="background-color: #5B00BB">
    
        </div>
      </div>
    </div>
    <div class="estado" style="border-color: #8B8B8B">
      <div class="servicio"> Capacitacion
        <div class="polig" style="background-color: #8B8B8B">
    
        </div>
      </div>
    </div>
    <div class="estado" style="border-color: #A04B00">
      <div class="servicio"> Disponibilidad FDS
        <div class="polig" style="background-color: #A04B00">
    
        </div>
      </div>
    </div>
  </div>
    <div class="content">
    </div>
  </div>
</div>
