#tablaField {
  padding: 0;
  margin: 0;
  height: 90%;
  width: 100%;
  float: left;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
}

#fechaEleccion {
  text-align: center;
  margin-left: 1%;
  margin-bottom: 2%;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}


#fecha {
  width: 40%;
  height: 20px;
  margin-bottom: 1%;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

#fecha:hover {
  border: 2px inset #009999;
  border-radius: 10px;
}

#fecha::-webkit-clear-button {
  display: none;
}

#fecha::-webkit-inner-spin-button {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  // transition: opacity 500ms;
  // visibility: hidden;
  // opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: lightgray;
  border-radius: 5px;
  width: 1%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 29px;
  right: 30px;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: red;
}

.popup .estadisticas {
  position: absolute;
  top: 28px;
  right: 65px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .estadisticas:hover {
  color: #009999;
  cursor: pointer;
}

.popup .eliminadas {
  position: absolute;
  top: 27px;
  right: 105px;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .eliminadas:hover {
  color: #009999;
  cursor: pointer;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen{
  .box {
    width: 90%;
    height: 60%;
    margin-left: 10%;
  }

  .popup {
    height: 70%;
    width: 84%;
    margin-left: 6%;
  }

  .contenedorInfo {
    height: 50%;
    width: 40%;
  }

  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}


.contenedorInfo .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.contenedorInfo .close:hover {
  color: red;
}

.contenido {
  width: 100%;
}

.contenedorInfo {
  margin: 70px auto;
  padding: 20px;
  background: lightgray;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 5s ease-in-out;
}

#tablas {
  display: flex;
  width: 100%;
  height: 20em;
}

#titulo {
  text-align: center;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}


.tablaEspecialistas {
  background-color: white;
  border-radius: 4px;
  border-color: lightgray;
  // border: 2px inset lightgray;
  width: 25%;
  height: 30%;
}

#tituloTablaE {
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

#tablaAsignacionesID {
  font-weight: bold;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  
}

.tablaAsignaciones {
  margin-left: 0.5%;
  background-color: white;
  // border: 2px inset lightgray;
  border-radius: 8px;
  border-color: lightgray;
  width: 90%;
  height: 15%;
}

.tablaAsignaciones:hover {
  cursor: pointer;
}

.linea{
  display: flex;    
}

.servicio {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  opacity: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.polig {
  margin-left: 2%;
  height: 60%;
  width: 1.7em;
  margin-top: 2px;
}

.estado {
  margin-left: 7%;
  margin-right: 1%;
  margin-bottom: 0.4%;
  margin-top: 1.2%;
  border: 4px ridge white;
  border-radius: 8px;
  height: 3.5em;
  width: 20em;
  background-color: whitesmoke;
  
}

.estadoBajo {
  margin-left: 7%;
  margin-right: 1%;
  margin-bottom: 0.4%;
  margin-top: 0.2%;
  border: 4px ridge white;
  border-radius: 8px;
  height: 3.5em;
  width: 20em;
  background-color: whitesmoke;
  
}


#volver {
  margin-top: 4%;
  margin-left: 25%;
  width: 50%;
  height: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: black;
  background-color: white;
  border: ridge 1.4px #0F1923;
  cursor: pointer;
}

#volver:hover {
  color: white;
  background-color: #0F1923;
  border: ridge 1.1px #0F1923;
}

/* popups de las 4 opciones */

.close .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  font-size: 16px;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.close .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.close:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.info .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  font-size: 14px;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.info .tooltiptext::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.info:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.estadisticas .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  font-size: 15px;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -65px;
  opacity: 0;
  transition: opacity 0.3s;
}

.estadisticas .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.estadisticas:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.eliminadas .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  border-radius: 1px;
  padding: 5px 0;
  position: absolute;
  font-size: 14px;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -53px;
  opacity: 0;
  transition: opacity 0.3s;
}

.eliminadas .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.eliminadas:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}