<div id="animacion">
    <h3 id="tituloTabla">Tarifas actuales</h3>
    <div id="tablaTarifas">
        <table>
          <tr>
            <th>TECNICA</th>
            <th>COSTO VIAJE (hora)</th> 
            <th>COSTO SERVICIO (hora)</th>
          </tr>
          <tr>
            <td>Variadores de Frecuencia (VFD)</td>
            <td>{{ResultadosTecnicas[0]["CostoViaje"]}}</td>
            <td>{{ResultadosTecnicas[0]["CostoServicio"]}}</td>
          </tr>
          <tr>
            <td>Baja Tensión (BT)</td>
            <td>{{ResultadosTecnicas[1]["CostoViaje"]}}</td>
            <td>{{ResultadosTecnicas[1]["CostoServicio"]}}</td>
          </tr>
          <tr>
            <td>Automatización (AUT)</td>
            <td>{{ResultadosTecnicas[2]["CostoViaje"]}}</td>
            <td>{{ResultadosTecnicas[2]["CostoServicio"]}}</td>
          </tr>
          <tr>
            <td>AOS</td>
            <td>{{ResultadosTecnicas[3]["CostoViaje"]}}</td>
            <td>{{ResultadosTecnicas[3]["CostoServicio"]}}</td>
          </tr>
          <tr>
            <td>Motores (MOT)</td>
            <td>{{ResultadosTecnicas[4]["CostoViaje"]}}</td>
            <td>{{ResultadosTecnicas[4]["CostoServicio"]}}</td>
          </tr>
        </table>
        <br>
    </div>
    <hr>
    <div id="tituloEditar">
      <h3 id="tituloTabla"> Editar Tarifas</h3>
    </div>
    <form id="formulario">
      <div id="IdNombreTecnica">
          <div id="subtitulo">
            <label >Tecnica</label>
          </div>
          <select id="comboTecnica">
              <option *ngFor="let tecnica of ResultadosTecnicas">{{tecnica.NombreT}}</option>
          </select><br>
      </div>
      <div id="demasDatos">
        <div id="primeraLinea">
          <div id=headerServicio>
            <div class="styledInput">
              <input type="number" id="CostoServicio" placeholder=" " autocomplete="off" />
              <label>Costo Servicio</label>
            </div>
          </div>
        </div>
        <div id="segundaLinea">
          <div id=headerViaje>
            <div class="styledInput">
              <input type="number" id="CostoViaje" placeholder=" " autocomplete="off" />
              <label>Costo Viaje</label>
            </div>
          </div>
        </div>
      </div>  
    </form>
    <div id="botones">
      <button (click)="editarTarifas()" id="enviar">Modificar Tarifa</button><br>
      <button routerLink='/main/field-service' id="cancelar">Cancelar</button><br>
    </div>
    <div id="resultadoImagen"></div>