<div id="animacion">
  <input type="date" id="pickDate">
    <div *ngFor="let resultado of Resultados">
      <div class="sobreTabla"><i class="fas fa-circle"
          [ngStyle]="{'color': setColor(resultado.Estado)}"></i>{{resultado.Estado}}</div>
      <div class="tabla">
        <div class="tablaLeft">
          <img [ngStyle]="{'border-color': setColor(resultado.Estado)}"
            src="data:image/png;base64,{{resultado.FotoBase64}}">
          <div class="tablaLeftDatos">
            {{resultado.NombreE}}<br>
            {{resultado.Celular}}<br>
            {{resultado.NombreT}}
          </div>
        </div>
        <div class="tablaRight">
          <a routerLink='/main/field-service/perfil'><button class="perfil" (click)="getInfoEspecialista(resultado)"><i class="fas fa-user"></i></button></a>
          
          <a [routerLink]='["/main/field-service/formularioEdicionEspecialista"]'><button class="editar"
              (click)="getInfoEspecialista(resultado)"><i class="fas fa-edit"></i></button></a>
          
          <a [routerLink]='["/main/field-service/formularioEdicionEspecialista"]'></a>
          <button class="eliminar" (click)="borrar(resultado.IdEspecialista, resultado.NombreE);getInfoEspecialista(resultado)"><i
              class="fas fa-trash-alt"></i></button>
        </div>
      </div>
    </div>
  </div>