<main class="container">
  <si-about
    aboutTitle="About"
    [licenseInfo]="{ title: 'License', text: 'TODO: Insert license texts here' }"
    icon="https://lorempixel.com/200/200/sports/1/"
    heading="Application title"
    [subheading]="['app version: v0.0.1', '&copy; Siemens 2019']"
    [imprintLink]="{title: 'Corporate information', link: 'http://www.siemens.com/corp/en/index/corporate_info.htm'}"
    [privacyLink]="{title: 'Privacy policy', href: 'http://www.siemens.com/corp/en/index/privacy.htm'}"
    [termsLink]="{title: 'Terms of use', href: 'http://www.siemens.com/corp/en/index/terms_of_use.htm'}"
  ></si-about>
</main>
