<div id="animacion">
  <div id="titulo">
      <h1>REGISTRO DE NUEVO/A PROJECT MANAGER</h1>
      <hr>
    </div>
<div class="logo">
  
</div>
<form class="allForm">
    
    <div class="form-group">
        <label>Nombre Project Manager</label>
        <input type="text" class="form-control" id="name">
    </div>
  <div class="form-group">
    <label for="username">Correo (sin @siemens.com)</label>
    <input type="email" class="form-control" id="user">
  </div>
  
  <button type="submit" class="btn-primary"  (click)="crearPM()">
    Crear Project Manager
  </button>
  <hr>
  
</form>
<hr>
</div>

