<div class="page-frame page-fixed">
  <div class="page-head">
    <si-navbar-primary [primaryItems]="primaryLinks" settingsLink="about" [account]="{title: getCurrentUserName(), image: 'https://secure.gravatar.com/avatar/xxx'}"
    [accountItems]="[
      {title: 'Logout', link:'/landing'}
    ]"></si-navbar-primary>
  </div>
  <div class="page-work">
    <router-outlet></router-outlet>
  </div>
  <div class="page-footer">
    <si-footer copyright="Siemens 2019" [links]="footerLinks"></si-footer>
  </div>
</div>
