#titulo{
    font-size: 26px;
    font-weight: 600;  
    align-content: center;
    margin-left: 23%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  
  .tab button:hover {
    background-color: #ddd;
  }
  
  .tab button.active {
    background-color: #ccc;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

.alineacion{
    display: flex;
    margin-top: 8%;
}



#cronograma{
    margin-top: 8%;
    margin-left: 25%;
    width: 50%;
    height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: black; 
    background-color: white;
    border: ridge 1.4px #0F1923;
    cursor: pointer;
}

#cronograma:hover{
    color: white;
    background-color: #0F1923;
    border: ridge 1.1px #0F1923; 
}