<div id="animacion">
    <div id="Nombre">{{infoEspecialista['NombreE']}} - {{infoEspecialista['NombreT']}}</div>
    <div id="campoFoto"><img id="campoImagen" src="data:image/png;base64,{{infoEspecialista['FotoBase64']}}" /></div>
  
    <div id="fila1">
      <hr class="divisor">
      <div class="IdCelularCedulaLugarh">
        <div class="headers"> ID Especialista </div>
        <div class="headers"> Celular </div>
        <div class="headers"> Cedula C. </div>
        <div class="headers"> Lugar Exp. C.C. </div>
      </div>
      <div class="IdCelularCedulaLugarv">
        <label class="campos">{{infoEspecialista['IdEspecialista']}}</label>
        <label class="campos">{{infoEspecialista['Celular']}}</label>
        <label class="campos">{{infoEspecialista['CedulaCiudadania']}}</label>
        <label class="campos">{{infoEspecialista['LugarExpedicion']}}</label>
      </div>
    </div>
    <hr class="divisor">
    <div id="fila2">
      <div class="FechaCecoGidTarjetah">
        <div class="headers"> Fecha Nacimiento </div>
        <div class="headers"> CeCo </div>
        <div class="headers"> GID </div>
        <div class="headers"> Tarjeta Ing. Argos </div>
      </div>
      <div class="FechaCecoGidTarjetav">
        <label class="campos" id="fecha"> {{infoEspecialista['FechaNacimiento']}} </label>
        <label class="campos"> {{infoEspecialista['CeCo']}} </label>
        <label class="campos"> {{infoEspecialista['GID']}} </label>
        <label class="campos"> {{infoEspecialista['TarjetaIngresoArgos']}} </label>
      </div>
      <hr class="divisor">
    </div>
    <button routerLink='/main/field-service' id="volver">Volver</button><br>
  </div>