<main class="page-work-area">
  <si-navbar-secondary [items]="secondaryNavItems"></si-navbar-secondary>

  <!-- <router-outlet name="fieldServiceOutlet"></router-outlet> -->

  <div class="flex-container" style="display:flex; flex-direction: row; height: 70vh">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
    <div class="container map-container">
      <app-esri-map [center]="mapCenter" [basemap]="basemapType" [zoom]="mapZoomLevel"
        (mapLoadedEvent)="mapLoadedEvent($event)">
      </app-esri-map>
    </div>
  </div>
</main>
