.container {
    margin: auto;
    width: 90vw;
    height: 79vh;   
    float: left;
    padding: 0;
    overflow-y: scroll;
}

.edit-button {
    background-color: #009999;
    width: 25%;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;     
    margin: 20px 0;
  }

.table-logos td {
    text-align: center;
}
.td-title-header {
    font-weight: 600;
    text-transform: uppercase;
}
.td-images {
    width: 25%;
}


.section-title {
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    background-color: lightgray;
    margin: 15px 0;
    font-size: 1.3em;
}

.td-title-info {
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    padding: 0 5px;
}

.table-info, .table-report {
    width: 100%;
    margin: 0, auto, 10px, auto;
    font-size: 1.1em;
}

.td-title-report {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    padding: 0 5px;
}

.table-report td {
    text-align: center;
}

a:hover {
    cursor: pointer;
}