<div class="container">
  <table class="table-logos" style="width: 100%">
    <td class="td-images"><img [src]="cv && clientLogo()" style="width: 100%; height:auto;"></td>
    <td class="td-title-header">{{cv && cv.NombreEmpresa}}<br>Gestión de Mantenimiento</td>
    <td class="td-images"><img src="../../../../../assets/images/logos/Siemens-logo.png"
        style="width: 100%; height:auto;"></td>
  </table>

  <!-- <div class="section-title">
    datos generales del cliente
  </div>

  <table class="table-info">
    <tr>
      <td class="td-title-info">cliente</td>
      <td colspan=5>{{cv && cv.NombreEmpresa}}</td>
    </tr>
    <tr>
        <td class="td-title-info">N° Contrato</td>
        <td>{{cv && cv.NumeroContrato}}</td>
        <td class="td-title-info">Planta</td>
        <td>{{cv && cv.Planta}}</td>
        <td class="td-title-info">Ciudad</td>
        <td>{{cv && cv.Ciudad}}</td>
    </tr>
    <tr>
        <td class="td-title-info">Fecha</td>
        <td>{{cv && cv.Fecha}}</td>
        <td class="td-title-info">Periodo</td>
        <td>{{cv && cv.Periodo}}</td>
        <td class="td-title-info">Vence</td>
        <td>{{cv && cv.Vence}}</td>
    </tr>
    <tr>
        <td class="td-title-info">Responsable</td>
        <td>{{cv && cv.NombreResponsable}}</td>
        <td class="td-title-info">Teléfono</td>
        <td>{{cv && cv.TelefonoResponsable}}</td>
        <td class="td-title-info">E-mail</td>
        <td>{{cv && cv.EmailResponsable}}</td>
    </tr>
  </table>

  <div class="section-title">
      datos generales Siemens
  </div>

    <table class="table-info">
      <tr>
          <td class="td-title-info">P.M.</td>
          <td>{{cv && cv.NombrePM}}</td>
          <td class="td-title-info">Teléfono</td>
          <td>{{cv && cv.TelefonoPM}}</td>
          <td class="td-title-info">E-mail</td>
          <td>{{cv && cv.EmailPM}}</td>
      </tr>
    </table>
  <div class="section-title">
      datos del equipo
  </div>
    <table class="table-info">
      <tr>
          <td class="td-title-info">Tipo de Equipo</td>
          <td>{{cv && translateTipoEquipo(cv.TipoEquipo)}}</td>
      </tr>
      <tr>
          <td class="td-title-info">Descripción</td>
          <td colspan=5 style="padding: 10px 0;">{{cv && cv.Descripcion}}</td>
      </tr>
      <tr>
          <td class="td-title-info">N° serial</td>
          <td>{{cv && cv.NumeroSerial}}</td>
          <td class="td-title-info">MLFB</td>
          <td>{{cv && cv.MLFB}}</td>
          <td class="td-title-info">Fecha producción</td>
          <td>{{cv && cv.FechaProduccion && cv.FechaProduccion.split("T")[0]}}</td>
      </tr>
      <tr>          
          <td class="td-title-info">Años operación</td>
          <td>{{cv && cv.AnnosOperacion}}</td>
          <td class="td-title-info">Ciclo de vida</td>
          <td colspan=3>{{cv && cv.CicloVida}}</td>
      </tr>

    
    </table> -->
  <!-- <div class="section-title">
    control de actividades
  </div> -->

  <tabset>
    <tab heading="Información basica">
      <div class="section-title">
        datos generales del cliente
      </div>

      <table class="table-info">
        <tr>
          <td class="td-title-info">cliente</td>
          <td colspan=5>{{cv && cv.NombreEmpresa}}</td>
        </tr>
        <tr>
          <td class="td-title-info">N° Contrato</td>
          <td>{{cv && cv.NumeroContrato}}</td>
          <td class="td-title-info">Planta</td>
          <td>{{cv && cv.Planta}}</td>
          <td class="td-title-info">Ciudad</td>
          <td>{{cv && cv.Ciudad}}</td>
        </tr>
        <tr>
          <td class="td-title-info">Fecha</td>
          <td>{{cv && cv.Fecha && formatDate(cv.Fecha) }}</td>
          <td class="td-title-info">Periodo</td>
          <td>{{cv && cv.Periodo}}</td>
          <td class="td-title-info">Vence</td>
          <td>{{cv && cv.Vence && formatDate(cv.Vence)}}</td>
        </tr>
        <tr>
          <td class="td-title-info">Responsable</td>
          <td>{{cv && cv.NombreResponsable}}</td>
          <td class="td-title-info">Teléfono</td>
          <td>{{cv && cv.TelefonoResponsable}}</td>
          <td class="td-title-info">E-mail</td>
          <td>{{cv && cv.EmailResponsable}}</td>
        </tr>
      </table>

      <div class="section-title">
        datos generales Siemens
      </div>

      <table class="table-info">
        <tr>
          <td class="td-title-info">P.M.</td>
          <td>{{cv && cv.NombrePM}}</td>
          <td class="td-title-info">Teléfono</td>
          <td>{{cv && cv.TelefonoPM}}</td>
          <td class="td-title-info">E-mail</td>
          <td>{{cv && cv.EmailPM}}</td>
        </tr>
      </table>
      <div class="section-title">
        datos del equipo
      </div>
      <table class="table-info">
        <tr>
          <td class="td-title-info">Tipo de Equipo</td>
          <td>{{cv && translateTipoEquipo(cv.TipoEquipo)}}</td>
        </tr>
        <tr>
          <td class="td-title-info">Descripción</td>
          <td colspan=5 style="padding: 10px 0;">{{cv && cv.Descripcion}}</td>
        </tr>
        <tr>
          <td class="td-title-info">N° serial</td>
          <td>{{cv && cv.NumeroSerial}}</td>
          <td class="td-title-info">MLFB</td>
          <td>{{cv && cv.MLFB}}</td>
          <td class="td-title-info">Fecha producción</td>
          <td>{{cv && cv.FechaProduccion && formatDate(cv.FechaProduccion)}}</td>
        </tr>
        <tr>
          <td class="td-title-info">Años operación</td>
          <td>{{cv && cv.AnnosOperacion}}</td>
          <td class="td-title-info">Ciclo de vida</td>
          <td colspan=3>{{cv && cv.CicloVida}}</td>
        </tr>


      </table>
      <div style="display: flex; justify-items: flex-end; flex-direction: row-reverse;">
        <button routerLink='/main/consultaEquipos/editarEquipo/{{cv && cv.NumeroSerial}}' class="edit-button">Editar</button>
      </div>
    </tab>
    <tab heading="Reportes">
      <table class="table-report">
        <thead>
          <tr>
            <th class="td-title-report">fecha</th>
            <th colspan=3 class="td-title-report">tipo mantenimiento</th>
            <th class="td-title-report">actividad realizada</th>
            <th class="td-title-report">field service</th>
            <th class="td-title-report">informe</th>
          </tr>
        </thead>
        <tbody *ngIf="reportes | async as results">
          <tr *ngFor="let result of results">
            <td>{{result.FechaEnvio.split("T")[0]}}</td>
            <td>{{result.NombreColaborador}}</td>
            <td>{{result.ActividadesRealizadas}}</td>
            <td>{{result.NombreColaborador}}</td>
            <td><a (click)="showReport(result)">detalles</a></td>
          </tr>
        </tbody>
      </table>
    </tab>
  </tabset>




  <!-- <div *ngIf="reportes | async as results">
    <table class="table-info">
      <tr>
        <th rowspan=2 class="td-title-info">fecha</th>
        <th rowspan=2 class="td-title-info">tipo</th>
        <th rowspan=2 class="td-title-info">actividad realizada</th>
        <th rowspan=2 class="td-title-info">field service</th>
        <th rowspan=2 class="td-title-info">informe</th>
      </tr>
    </table>
  </div> -->
</div>
