<div id="animacion">
  <div id="titulo">
    <p>CREAR ASIGNACION</p>
    <br>
  </div>
  <form id="formulario">
    <div id="infoCliente">
      <div class="headerCliente">
        <div class="styledInput">
          <input list="clientList" type="text" name="nombreCliente" id="nCliente" autocomplete="off" placeholder=" ">
          <label>Cliente</label>
        </div>
        <datalist id="clientList">
          <option *ngFor="let client of ResultadosEmpresas">{{client.NombreEmpresa}}</option>
        </datalist>
      </div>
      <div class="headerPlanta">
        <div class="styledInput">
          <input type="text" name="nombrePlanta" id="nPlanta" autocomplete="off" placeholder=" ">
          <label>Planta</label>          
        </div>
        
      </div>
    </div>
    <div class="headerCombo">
      Seleccionar Especialista
    </div>
    <div class="espacioCombo">
      <select class="combo">
        <option *ngFor="let resultado of ResultadosField" value={{resultado.IdEspecialista}}>{{resultado.NombreE}}
        </option>
      </select>
    </div>
    <div class="headerCombo">
      Seleccionar Status
    </div>
    <div class="espacioCombo">
      <select class="combo">
        <option value=1>En Servicio</option>
        <option value=2>Compensatorio</option>
        <option value=3>Vacaciones</option>
        <option value=4>Disponible</option>
        <option value=5>Incapacidad</option>
        <option value=6>Permiso</option>
        <option value=7>Capacitacion</option>
        <option value=8>Disponible Fin de Semana</option>
      </select>
    </div>
    <div class="headerCombo">
      Seleccionar Tipo de Servicio
    </div>
    <div class="espacioCombo">
      <select class="combo">
        <option value='P'>Preventivo Planeado</option>
        <option value='C'>Correctivo Planeado</option>
        <option value='F'>Pruebas FAT</option>
        <option value='S'>Puesta En Servicio</option>
        <option value='V'>Soporte Ventas</option>
      </select>
    </div>
    
    <!-- <div id="headerFechas">Fechas de la Asignacion</div> -->
    <div id="fechas">
      <div>
        <input class="estiloFechas" type="date" name="fechaInicio" id="fechaI" placeholder="Desde">
      </div>
      <div>
        <input class="estiloFechas" type="date" name="fechaFin" id="fechaF" placeholder="Hasta" min="{{fechaMinima}}">
      </div>
    </div>
    <div id="infoContacto">
      <div id="name">
        <div class="styledInput">
          <input type="text" name="nombreContacto" id="nContacto" autocomplete="off" placeholder=" ">
          <label>Nombre Contacto</label>
        </div>
      </div>
      <div id="cel">
        <div class="styledInput">
          <input type="tel" name="telefonoContacto" id="tContacto" autocomplete="off" maxlength="10" placeholder=" ">
          <label>Telefono Contacto</label>
        </div>
      </div>
    </div>
    <div id="email">
      <div class="styledInput">
        <input type="text" name="emailContacto" id="eContacto" autocomplete="off" placeholder=" ">
        <label>Email Contacto</label>
      </div>
    </div>
    <div id="descripcion"> Descripcion Asignacion
      <div class="styledInput">
        <textarea maxlength="255" name="descripcionAsignacion" id="desc" autocomplete="off" placeholder=" "></textarea>
      </div>
    </div>
    <div id="labelSitio"><label>Nombre Sitio: </label><span id="ubicacion"></span></div>
  </form>
  <div id="botones">
    <button (click)="enviarDatos()" id="enviar">Agregar Asignacion</button><br>
    <button routerLink='/main/field-service/workers' id="cancelar">Cancelar</button><br>
  </div>
</div>